/* || COLORS */

:root {
  --biscay: #303952;
  --apple-valley: #ea8685;
  --summertime: #f5cd79;
  --soft-blue: #778beb;
}

/* || GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--biscay);
  font-family: monospace;
  color: white;
  text-align: center;
}

header {
  background-color: var(--summertime);
  color: var(--biscay);
  padding: 24px;
}

main {
  display: grid;
  place-content: center;
  padding: 24px;
  height: calc(100vh - 74px);
  max-width: 512px;
  margin: auto;
}

h1 {
  font-size: 26px;
  line-height: 26px;
}

h2 {
  font-size: 26px;
  line-height: 42px;
  font-weight: normal;
}

p {
  font-size: 16px;
  line-height: 16px;
}

button {
  background: none;
  color: white;
  cursor: pointer;
}

/* || SCOREBOARD */

.scoreboard {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.score-card {
  color: white;
  width: 100%;
  padding: 80px 40px;
  border: 2px solid white;
  border-radius: 8px;
  position: relative;
}

.user-badge,
.cpu-badge {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 26px;
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--soft-blue);
  color: var(--biscay);
  border: 2px solid white;
  border-radius: 8px;
  padding: 8px 16px;
  transition: 0.3s;
}

.cpu-badge {
  background-color: var(--apple-valley);
}

.user-score,
.cpu-score {
  font-size: 68px;
  line-height: 68px;
}

/* || CHOICES */

.choices {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.choice {
  height: 144px;
  width: 144px;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  transition: 0.3s;
}

.choice:hover {
  transform: scale(1.1);
}

.blue-glow {
  box-shadow: 0 0 80px var(--soft-blue);
  text-shadow: 0 0 80px var(--soft-blue);
}

.red-glow {
  box-shadow: 0 0 80px var(--apple-valley);
  text-shadow: 0 0 80px var(--apple-valley);
}

.white-glow {
  box-shadow: 0 0 80px white;
  text-shadow: 0 0 80px white;
}

i {
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* || Winning Message */

.result {
  padding: 56px;
}

.winner {
  font-size: 42px;
  font-weight: bold;
}

.winner.user {
  color: var(--soft-blue);
  text-shadow: 0 0 24px var(--soft-blue);
}

.winner.cpu {
  color: var(--apple-valley);
  text-shadow: 0 0 24px var(--apple-valley);
}

.winner.tie {
  color: white;
  text-shadow: 0 0 24px white;
}

.user-choice {
  border-bottom: 4px solid var(--soft-blue);
}

.cpu-choice {
  border-bottom: 4px solid var(--apple-valley);
}

/* || RESPONSIVE */

@media only screen and (max-width: 624px), (max-height: 800px) {
  h2 {
    font-size: 20px;
  }

  .score-card {
    padding: 42px;
  }

  .user-score,
  .cpu-score {
    font-size: 42px;
    line-height: 42px;
  }

  .choices {
    justify-content: center;
    gap: 16px;
  }

  .choice {
    height: 96px;
    width: 96px;
  }

  .result {
    padding: 32px 0;
  }

  i {
    font-size: 48px;
  }
}
